<a href="https://colab.research.google.com/github/Rcgil30/Lab2ED2/blob/main/Datos_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
import pandas as pd
import folium
import numpy as np

flights_url ='https://raw.githubusercontent.com/Rcgil30/Lab2ED2/main/data/aerocivil.csv?token=GHSAT0AAAAAABYNZVOSXB3TOT2WZM74RLSYYZN336A'
flights = pd.read_csv(flights_url)

cities_url ='https://raw.githubusercontent.com/Rcgil30/Lab2ED2/main/data/cities_cord.csv?token=GHSAT0AAAAAABYNZVOSUEHZOUHKAHOJW4RUYZN24RQ'
cities = pd.read_csv(cities_url)

cities = cities[['city','lat','lng','country','admin_name']]
flights.columns = [c.replace(' ', '_') for c in flights.columns]
flights = flights[['Origen','Ciudad_Origen','Destino','Ciudad_Destino','Tr치fico_(N/I)','Tipo_Vuelo','Pasajeros']]
flights = flights[(flights['Tr치fico_(N/I)'] == "N") & (flights['Tipo_Vuelo'] == "R") & (flights['Pasajeros'] >= 1000)]

In [ ]:
flights

In [153]:
cities  = cities[(cities['country'] == "Colombia")]
cities['city'] = cities['city'].str.upper()
cities['admin_name'] = cities['admin_name'].str.upper()

main_flights = flights[(((flights['Ciudad_Destino']).isin(cities.city)) & ((flights['Ciudad_Origen']).isin(cities.city)))]
main_flights

,Origen,Ciudad_Origen,Destino,Ciudad_Destino,Tr치fico_(N/I),Tipo_Vuelo,Pasajeros
2308,ADZ,SAN ANDRES,BOG,BOGOTA,N,R,16500.0
2309,ADZ,SAN ANDRES,CLO,CALI,N,R,6694.0
2310,ADZ,SAN ANDRES,CTG,CARTAGENA,N,R,7346.0
2311,ADZ,SAN ANDRES,MDE,RIONEGRO,N,R,7759.0
2312,AXM,ARMENIA,BOG,BOGOTA,N,R,3527.0
...,...,...,...,...,...,...,...
5729,SMR,SANTA MARTA,MDE,RIONEGRO,N,R,13596.0
5732,SMR,SANTA MARTA,PEI,PEREIRA,N,R,6427.0
5741,VUP,VALLEDUPAR,MDE,RIONEGRO,N,R,1242.0
5751,VVC,VILLAVICENCIO,CTG,CARTAGENA,N,R,2306.0
5753,VVC,VILLAVICENCIO,MDE,RIONEGRO,N,R,2341.0